/* Agregar Fuente sacado de google */
    body {

        font-family: "Raleway";
    }
    
    
    
    /*cambio el color a blanco */
    .quienes-somos h2 {

    color: white;

    }

    .navbar {

       
    
        position: fixed;
    
        width: 100vw;
        z-index: 1;
    
    }
     /*cambio el color a blanco */
    .bloquesPrincipales article {

    color: white;
    
    
    }

    /*Color Negro de fondoo*/

    #bloquesPrincipales {

        background-color: black;
       
    }

   /*Cambiar fuente de titulos*/

    #bloquesPrincipales h3{ 

        font-family: "Raleway";
        font-weight: 150px;

    }
    /*cambio el color del texto en las tarjetas y justifica el texto*/
    .card p {

        color: white;
        text-align: justify;
    }
    /*cambio el color de las label del formulario*/
    form .form-control {

        color: white;
        align-items: left;
    }

   
   /*Ajusta texo a color blanco y lo justifica */
    .quienes-somos article #textoAjuste {

        color: white;
        text-align: justify;
        
        }

        
        /*Ajusta tamaño imagen de las tarjetas*/
        .card img {

            width: 100%;
             height: 150px;
        }


         /*Ajusta color label*/
        form .form-label{
            color: white; 
         
   
                } 
        
               
